<li>
	<% @editpath = edit_channel_path(channel) %>
  	<b>Name: </b><%= link_to channel.try(:name), @editpath %>
  	<b>ID#: </b><%= link_to channel.id, @editpath %>
  	<b>Awe.SM ID: </b><%= link_to channel.try(:awesm_id), @editpath %>
  	<b>Description: </b><%= link_to channel.try(:description), @editpath %><br/>
    <b>Fone Awesome Icon Name: </b><%= link_to channel.try(:font_awesome_icon_name), @editpath %><br/>
    <b>URL Prefix: </b><%= link_to channel.try(:url_prefix), @editpath %><br/>
    <b>Display Order: </b><%= link_to channel.try(:display_order), @editpath %><br/>
  	<b>Visible: </b><%= link_to channel.visible, @editpath %><br/>
  	<b>Active: </b><%= link_to channel.active, @editpath %><br/>
  	<b>Actions: </b><%= link_to "edit", @editpath %>&nbsp;&nbsp;
  	<%= link_to "delete", channel, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>