<% provide(:title, 'All Channels') %>
<h1>All Channels (<%= @channels.count %>)</h1>

<div class="container">
	<%= will_paginate %>
	<ul class="class-index">
      	<%= render @channels %>
	</ul>
	<%= will_paginate %>
	<br/>
	<%= link_to 'Create New Channel', new_channel_path %><br/>
	<%= go_back %>
</div>