<!DOCTYPE html>
<html lang="en">
<head>
	<title>Facebook Post Cancelled Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
	<%= javascript_include_tag "application" %>
	<%= favicon_link_tag 'favicon.ico?v=11' %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body>
	<div class="container">
		<img width="400" src="<%= image_path('causebutton-white-on-teal.svg') %>" style="margin: 30px auto; display: block;">
		<div style="text-align:center;"><h3>Bummer - looks like you cancelled.<br/><br/>Please come back and share with your friends!</h3></div>
	</div><!-- /.container -->
</body>
</html>