<div class="container">
  <div class="row">
    <div class="span7 offset1">
      <%= form_for(@serve) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :id %>
        <%= f.text_field :id, readonly: true %>

        <%= f.label :promotion_id %>
        <%= select_tag 'serve[promotion_id]', options_from_collection_for_select(Promotion.all, :id, :name, @serve.promotion_id) %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :referring_share_id, "Referring Share ID" %>
        <%= select_tag 'serve[referring_share_id]', options_from_collection_for_select(Share.all, :id, :id, @serve.referring_share_id ), include_blank: true %>

        <%= f.label :viewed, "Viewed?" %>
        <%= f.check_box :viewed %>

        <br/><br/>
        <%= f.label :shares_count, "Shares Count: " %><%= @serve.shares_count %>
        <br/><br/>

        <%= f.label :session_id %>
        <%= f.text_field :session_id, readonly: true %>

        <%= f.label :current_cause_id, "Current Cause ID" %>
        <%= select_tag 'serve[current_cause_id]', options_from_collection_for_select(Cause.all, :id, :id, @serve.current_cause_id ) %>


        <br/><br/>

        <%= f.submit button, class: "btn btn-large btn-primary" %>
      <% end %>

    </div>
  </div>
  <%= go_back %>
</div>
