<div class="container">
  <div class="row">
    <div class="span7 offset1">
      <%= form_for(@serve) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :id %>
        <%= f.text_field :id, readonly: true %>

        <%= f.label :promotion_id %>
        <%= select_tag 'serve[promotion_id]', options_from_collection_for_select(Promotion.all, :id, :name, @serve.promotion_id) %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :share_id %>
        <%= select_tag 'serve[share_id]', options_from_collection_for_select(Share.all, :id, :id, @serve.share_id ), include_blank: true %>

        <%= f.submit button, class: "btn btn-large btn-primary" %>
      <% end %>

    </div>
  </div>
  <%= go_back %>
</div>
