<li>
  <% if serve.viewed? %>
    <% @a = "Yes" %>
    <% else %>
    <% @a = "no" %>
  <% end %>
  <% @b= @c= "" %>
  <% if serve.session_id? %>
    <% @c = serve.session_id %>
  <% end %>
  <% if serve.user_id.nil? %>
      <% @d = @e = "null" %>
      <% else %>
      <% @d = serve.user_id %>
      <% @e = serve.email %>
  <% end %>
	<% @editpath = edit_serve_path(serve) %>
  	<b><%= :id %>: </b><%= link_to serve.id, @editpath %><br/>
  	<b><%= :promotion_id %>: </b><%= link_to serve.promotion_id, @editpath %><br/>
    <b><%= :name %>: </b><%= link_to serve.promotion.name, @editpath %><br/>
    <b><%= :user_id %>: </b><%= link_to @d, @editpath %>&nbsp;&nbsp;
    <b>User Email: </b><%= link_to @e, @editpath %><br/>
    <b><%= :viewed %>: </b><%= link_to @a, @editpath %><br/>
    <b><%= :session_id %>: </b><%= link_to @c, @editpath %><br/>
    <b><%= :shares_count %>: </b><%= link_to serve.shares_count, @editpath %><br/>
    <b><%= :current_cause_id %>: </b><%= link_to serve.current_cause_id, @editpath %><br/>
    <b><%= :default_cause_id %>: </b><%= link_to serve.default_cause_id, @editpath %><br/>
    <b><%= :referring_share_id %>: </b><%= link_to serve.referring_share_id, @editpath %><br/>
  	<b><%= :created_at %>: </b><%= link_to serve.created_at, @editpath %><br/>
  	<b><%= :updated_at %>: </b><%= link_to serve.updated_at, @editpath %><br/>
	<br/>
  	<b>Actions: </b><%= link_to "edit", @editpath %>&nbsp;&nbsp;
  	<%= link_to "delete", serve, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>