<li>
	<% if params[:action] == "index" %>
		<% @editpath = edit_cause_path(cause) %>
		<% @deletepath = cause %>
  	<% elsif params[:action] == "index_admin" %>
		<% @editpath = edit_cause_admin_path(cause) %>
		<% @deletepath = destroy_cause_admin_path(cause) %>
	<% end %>
  	<b>Name: </b><%= link_to cause.name, @editpath %>&nbsp;&nbsp;
	<b>ID#: </b><%= link_to cause.id, @editpath %><br/>
	<b>UID: </b><%= link_to cause.uid, @editpath %><br/>
	<b>Users</b><% for user in cause.users %>
	<b>:&nbsp;</b><%= link_to user.email, @editpath %>&nbsp;
	<% end %><br/>  
	<b>Actions: </b>
	  	<%= link_to "edit", @editpath %>&nbsp;&nbsp;
		<%= link_to "delete", @deletepath, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>