<div class="container">
	<div class="row">
	  <div class="span7 offset1">
	    <%= form_for(@cause) do |f| %>
	      <%= render 'shared/error_messages', object: f.object %>

	      <%= f.label :name %>
	      <%= f.text_field :name %>

	      <%= f.submit button, class: "btn btn-large btn-primary" %>
	    <% end %>

	  </div>
	</div>
	<%= go_back %>
</div>