<div class="container">
    <div class="row">
	    <div class="span7 offset1">
 		    <%= form_for @cause, url: {action: action} do |f| %>
		      	<%= render 'shared/error_messages', object: f.object %>

		      	<%= f.label :name %>
		      	<%= f.text_field :name %>

  				<% if ["new_admin","edit_admin"].include?params[:action] %>
					<%= f.label :user_ids, "Associate Users with this cause" %>
					<% causeusers = [] %>
					<% Role.find_by_name("SuperAdmin").users.each do |g| %>
					<% causeusers << g %>
					<% end %>
					<% Role.find_by_name("UserAdmin").users.each do |g| %>
					<% causeusers << g %>
					<% end %>
					<% Role.find_by_name("CauseAdmin").users.each do |g| %>
					<% causeusers << g %>
					<% end %>
					<% causeusers = causeusers.uniq.sort_by &:email %>
					<% for user in causeusers %>
						<div class="col-xs-12">
							<div class="col-xs-4">
								<%= user.email %>
							</div>
							<div class="col-xs-2">
								<%= check_box_tag "cause[user_ids][]", user.id, @cause.users.pluck(:id).include?(user.id) %>
							</div>
							<div class="col-xs-6">
								<%= User.find(user.id).roles.pluck(:name) %>
							</div>
						</div>
					<% end %>
				<% end %>
				<br/><br/><br/><br/>

  				<% if ["new_admin","edit_admin"].include?params[:action] %>
					<%= f.label :group_ids, "Groups that include this cause" %>
					<% if @cause.groups.any? %>
						<% for group in @cause.groups %>
							<div>
								<%= check_box_tag "cause[group_ids][]", group.id, @cause.groups.include?(group) %>
								<%= group.name %>
							</div>
						<% end %>
					<% else %>
						There are no groups that include this Cause
						<br/>
					<% end %>
				<% end %>

				<%= f.label :uid, "Unique Identifier (UID)" %>
		      	<%= f.text_field :uid, readonly: true, placeholder: "this will be assigned automatically" %>

				<%= f.label :type %>
		      	<%= f.text_field :type, readonly: true, placeholder: "this will be assigned automatically" %>

				<br/>

		      	<%= f.submit button, class: "btn btn-large btn-primary" %>
		    <% end %>
		</div>
	</div>
	<%= go_back %>
</div>