<div class="container">
    <div class="row">
	    <div class="span7 offset1">
 		    <%= form_for @cause, url: {action: action} do |f| %>
		      	<%= render 'shared/error_messages', object: f.object %>

		      	<%= f.label :name %>
		      	<%= f.text_field :name %>

  				<% if ["new_admin","edit_admin"].include?params[:action] %>
					<%= f.label :user_ids, "Selected Users for this cause" %>
					<% for user in User.find(:all) %>
						<div>
							<%= check_box_tag "cause[user_ids][]", user.id, @cause.users.include?(user) %>
							<%= user.email %>
						</div>
					<% end %>
				<% end %>

				<br/>

		      	<%= f.submit button, class: "btn btn-large btn-primary" %>
		    <% end %>
		</div>
	</div>
	<%= go_back %>
</div>