<div class="container">
    <div class="row">
	    <div class="span7 offset1">
 		    <%= form_for @cause, url: {action: action} do |f| %>
		      	<%= render 'shared/error_messages', object: f.object %>

		      	<%= f.label :name %>
		      	<%= f.text_field :name %>

  				<% if ["new_admin","edit_admin"].include?params[:action] %>
					<%= f.label :user_ids, "Users associated with this cause" %>
					<% if @cause.users.any? %>
						<% for user in @cause.users %>
							<div>
								<%= check_box_tag "cause[user_ids][]", user.id, @cause.users.include?(user) %>
								<%= user.email %>
							</div>
						<% end %>
					<% else %>
						There are no users associated with this Cause
						<br/>
					<% end %>
				<% end %>

				<%= f.label :uid, "Unique Identifier (UID)" %>
		      	<%= f.text_field :uid, readonly: true, placeholder: "this will be assigned automatically" %>

				<%= f.label :type %>
		      	<%= f.text_field :type, readonly: true, placeholder: "this will be assigned automatically" %>

				<br/>

		      	<%= f.submit button, class: "btn btn-large btn-primary" %>
		    <% end %>
		</div>
	</div>
	<%= go_back %>
</div>