<% provide(:title, 'All Causes') %>
<h1>All Causes (<%= @causes.count %>)</h1>

<div class="container">
	<%= will_paginate %>
	<ul class="class-index">
      	<%= render @causes %>
	</ul>
	<%= will_paginate %>
	<br/>
	<%= link_to 'Create New Cause', new_cause_path %><br/>
	<%= go_back %>
</div>