<li>
	<b><%= :id %>: </b><%= @donation.id %><br/>
  	<b><%= :sale_id %>: </b><%= @donation.sale_id %><br/>
    <b><%= :merchant_id %>: </b><%= @donation.merchant_id %><br/>
    <b><%= :cause_id %>: </b><%= @donation.cause_id %><br/>
  	<b><%= :amount %>: </b><%= @donation.amount %><br/>
    <b><%= :chosen_by %>: </b><%= @donation.chosen_by %><br/>
    <b><%= :chooser_id %>: </b><%= @donation.chooser_id %><br/>
    <b><%= :supporter_id %>: </b><%= @donation.supporter_id %><br/>
    <b><%= :buyer_id %>: </b><%= @donation.buyer_id %><br/>
  	<b><%= :created_at %>: </b><%= @donation.created_at.to_formatted_s(:long) %><br/>
  	<b><%= :updated_at %>: </b><%= @donation.updated_at.to_formatted_s(:long) %><br/>
</li>