<% provide(:title, 'All Donations') %>
<h1>Donations I've Caused (<%= @donations.count %>)</h1>

<div class="container">
	<%= will_paginate %>
	<div class="row">
	<div class="col-sm-4">Merchant</div>
	<div class="col-sm-4">Cause</div>
	<div class="col-sm-2">Date</div>
	<div class="col-sm-2">Donation Amount</div>
	</div>
	<ul class="class-index">
      	<%= render @donations %>
	</ul>
	<%= will_paginate %>
	<br/>
	<%= go_back %>
</div>