<li>
	<% if params[:action] == "index" %>
		<% @editpath = edit_merchant_path(merchant) %>
		<% @deletepath = merchant %>
  	<% elsif params[:action] == "index_admin" %>
		<% @editpath = edit_merchant_admin_path(merchant) %>
		<% @deletepath = destroy_merchant_admin_path(merchant) %>
	<% end %>
	<b>Name: </b><%= link_to merchant.name, @editpath %>&nbsp;&nbsp;
	<b>ID#: </b><%= link_to merchant.id, @editpath %><br/>
	<b>Users</b><% for user in merchant.users %>
	<b>:&nbsp;</b><%= link_to user.email, @editpath %>&nbsp;
	<% end %><br/>  
	<b>Actions: </b>
	  	<%= link_to "edit", @editpath %>&nbsp;&nbsp;
		<%= link_to "delete", @deletepath, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>