<div class="container">
    <div class="row">
	    <div class="span7 offset1">
 		    <%= form_for @merchant, url: {action: action} do |f| %>
		      	<%= render 'shared/error_messages', object: f.object %>

		      	<%= f.label :name, "Please enter your business name" %>
		      	<%= f.text_field :name %>

		      	<%= f.label :website, "Please enter your website address" %>
		      	<%= f.url_field :website, placeholder: "Must start with 'http://' or 'https://'" %>

  				<% if ["new_admin","edit_admin"].include?params[:action] %>
					<%= f.label :user_ids, "Selected Users for this merchant" %>
					<% for user in User.find(:all) %>
						<div>
							<%= check_box_tag "merchant[user_ids][]", user.id, @merchant.users.include?(user) %>
							<%= user.email %>
						</div>
					<% end %>
				<% end %>
				<br/>

		        <%= f.label :button_id, "Default Button Style (optional)" %>
		        <%= select_tag 'merchant[button_id]', options_from_collection_for_select(Button.all, :id, :name, @merchant.button_id), prompt: "skip this now (choose button style when creating promotions)" %>

		        <%= f.label :widget_position_id, "Default Widget Location (can be overridden at the promotion or page level)" %>
		        <%= select_tag 'merchant[widget_position_id]', options_from_collection_for_select(WidgetPosition.all, :id, :name, @merchant.widget_position_id), prompt: "choose the default placement of your CauseButton widget" %>

		      	<%= f.label :uid, "Unique Identifier (UID)" %>
		      	<%= f.text_field :uid, readonly: true, placeholder: "this will be assigned automatically" %>

		      	<%= f.label :logo_link, "Link to your logo (optional)" %>
		      	<%= f.url_field :logo_link, placeholder: "Must start with 'http://' or 'https://'" %>

		      	<br/><br/>

		      	<%= f.submit button, class: "btn btn-large btn-primary" %>
		    <% end %>
		</div>
	</div>
	<%= go_back %>
</div>