<% provide(:title, 'All Merchants') %>
<h1>All Merchants (<%= @merchants.count %>)</h1>

<div class="container">
	<%= will_paginate %>
	<div class="row">
	<div class="col-sm-4">Merchant Name</div>
	<div class="col-sm-5">Website URL</div>
	<div class="col-sm-3">Default Button Style</div>
	</div>
	<ul class="class-index">
      	<%= render @merchants %>
	</ul>
	<%= will_paginate %>
	<br/>
	<%= link_to 'Create New Merchant as Admin', new_merchant_admin_path %><br/>
	<%= go_back %>
</div>