<li>
	<% @editpath = edit_role_path(role) %>
  	<b>Name: </b><%= link_to role.name, @editpath %>
  	<b>ID#: </b><%= link_to role.id, @editpath %>
  	<b>Description: </b><%= link_to role.description, @editpath %><br/>
  	<b>Actions: </b><%= link_to "edit", @editpath %>&nbsp;&nbsp;
  	<%= link_to "delete", role, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>