<div class="container">
  <div class="row">
    <div class="span7 offset1">
    	<%= form_for @promotion, url: {action: action} do |f| %>

			<%= render 'shared/error_messages', object: f.object %>
			<%= render 'viewed', object: f.object %>

			<% if @promotion.serves.where("viewed = ?", true).any? %>
					<% @served = true %>
				<% else %>
					<% @served = false %>
			<% end %>

			<%= f.label :merchant_id, "Merchant Name" %>
			<% if ["new_admin","edit_admin"].include?params[:action] %>
					<%= select_tag 'promotion[merchant_id]', options_from_collection_for_select(Merchant.all, :id, :name, @promotion.merchant_id) %>
				<% else %>
					<%= select_tag 'promotion[merchant_id]', options_from_collection_for_select(current_user.merchants, :id, :name, @promotion.merchant_id), readonly: @served %>
			<% end %>

			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :name, "Promotion Name" %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">For your internal reference only.  You can name your promotion anything you want, but promotion names have to be unique. </p>
			</div>
			<%= f.text_field :name, readonly: @served %>
			
			<%= f.label :description, "Promotion Description (for your internal use)." %>
			<%= f.text_area :description, rows: 2 %>

			<%= f.label :start_date, "Start Date" %>
			<%= f.date_select :start_date %>

			<%= f.label :end_date, "End Date (leave this blank for at least one of  your promotions!)" %>
			<%= f.date_select :end_date, include_blank: true %>
			
			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :priority %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<div class="collapse"><p>Priority determines the sort order of multiple promotions.  Priority can be blank or a whole number between 0 and 100.  Higher numbered promotions have priority over lower numbered promotions. </p></div>
			</div>
			<%= f.text_field :priority %>

			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :landing_page %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">This is the page that visitors will reach when they click on a CauseButton link shared by one of your supporters.  The default landing page is the page listed in the profile for this merchant. </p>
			</div>
	      	<%= f.url_field :landing_page, readonly: @served, placeholder: "this will be automatically set to the merchant's website if left blank" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :cause_id, "Preferred Cause" %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You must choose a preferred cause for each promotion.  This is the cause that will benefit from your merchant-directed contributions (if any), and it's the cause that will receive any supporter-directed and buyer-directed contributions that cannot (for any reason) be donated to the cause of their choice. </p>
			</div>

			<% if !@promotion.cause.nil? && @promotion.cause.type == "Group" %>
			<% 		@default1 = true %>
			<% 	else %>
			<% 		@default1 = false %>
			<% end %>

			<%= radio_button_tag 'promotion[cause_type]', "event", @default1 %><%= label_tag(:cause_type_group, "Choose an event") %>

			<% if !@promotion.cause.nil? && @promotion.cause.type == "Group" %>
			<% 		@initial_value = @promotion.event_id %>
			<% 	else %>
			<% 		@initial_value = "" %>
			<% end %>

			<%= select_tag 'promotion[event_id]', options_from_collection_for_select(Event.where("end_date is ? or end_date > ?",nil,Time.now).all, :id, :name, @initial_value), readonly: @served, id: "events", include_blank: true %>
			<br/><br/>

			<% if false %>
				<%= f.hidden_field :fg_uuid, :value => "ff068a2c-2023-11e0-a279-4061860da51d" %>
			<% end %>

			<% if !@promotion.cause.nil? && @promotion.cause.type == "Single" %>
			<% 		@default2 = true %>
			<% 	else %>
			<% 		@default2 = false %>
			<% end %>

			<% if !@promotion.cause.nil? %>
			<% 		@value = @promotion.cause.fg_uuid %>
			<% else %>
			<% 		@value = "" %>
			<% end %>

			<%= radio_button_tag 'promotion[cause_type]', "single", @default2 %><%= label_tag(:cause_type_single, "Choose a single cause") %>
			<%= f.hidden_field :fg_uuid, value: @value, readonly: @served %>
			<br/><br/>

	        <%= f.label :button_id, "Button Style For This Promotion" %>
	        <%= select_tag 'promotion[button_id]', options_from_collection_for_select(Button.all, :id, :name, @promotion.button_id), prompt: "use the default widget location for this merchant" %>

	        <%= f.label :widget_position_id, "Widget Location for this promotion (will be overridden if page-specific locations are implemented)" %>
	        <%= select_tag 'promotion[widget_position_id]', options_from_collection_for_select(WidgetPosition.all, :id, :name, @promotion.widget_position_id), prompt: "use the default button style for this merchant" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span4"><%= f.label :merchant_pct, "Merchant-directed Contribution (Percent)" %></div>
					<div class="span3">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">This is the amount... </p>
			</div>
			<%= f.text_field :merchant_pct, readonly: @served %>

			<div class="collapse-group">
				<div class="row">
					<div class="span4"><%= f.label :supporter_pct, "Supporter-directed Contribution (Percent)" %></div>
					<div class="span3">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">This is the amount... </p>
			</div>
			<%= f.text_field :supporter_pct, readonly: @served %>

			<div class="collapse-group">
				<div class="row">
					<div class="span4"><%= f.label :buyer_pct, "Buyer-directed Contribution (Percent)" %></div>
					<div class="span3">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">This is the amount... </p>
			</div>
			<%= f.text_field :buyer_pct, readonly: @served %>

			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :banner, "CauseButton Banner" %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">The CauseButton Banner appears at the top of the CauseButton Widget and tells your visitors about your promotion.  To change the CauseButton Banner, edit and save the Banner Template below.  This banner will be updated automatically. </p>
			</div>
			<%= f.text_area :banner, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :banner_template, "Banner Template" %></div>
					<div class="span5"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this Banner Template and when you save your changes to this promotion the Banner above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :banner_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :channel_ids, "Selected Channels" %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">These are the social media channels into which your CauseButton supporters will be able to promote you and your products.  The CauseButton share dialogs will only be available to your visitors for the channels checked below.  </p>
			</div>
 			<% for channel in Channel.where("visible = ? and active = ?", true, true) %>
				<div>
					<% if ["new","new_admin"].include?params[:action] %>
							<%= check_box_tag "promotion[channel_ids][]", channel.id, true, readonly: @served %>
						<% else %>
							<%= check_box_tag "promotion[channel_ids][]", channel.id, @promotion.channels.include?(channel), readonly: @served %>
					<% end %>
					<%= channel.name %>
				</div>
			<% end %>
			<br/>
			
			<div class="collapse-group">
				<div class="row">
					<div class="span2"><%= f.label :facebook_msg, "Facebook Message" %></div>
					<div class="span5">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">The Facebook Message appears in the Facebook Share dialog and will be displayed on the Facebook timelines of the supporters who promote you on Facebook.  You can choose whether to give your supporters the ability to edit this message below.  To change the Facebook Message, edit and save the Facebook Message Template below.  This message will be updated automatically.  </p>
			</div>
			<%= f.text_area :facebook_msg, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :facebook_msg_template, "Facebook Message Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this Facebook message template and when you save your changes to this promotion the Facebook Message above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :facebook_msg_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :disable_msg_editing, "Disable Facebook Message Editing?" %></div>
					<div class="span1"><%= f.check_box :disable_msg_editing %></div>
					<div class="span3">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">add stuff here  </p>
			</div>
		
		    <%= f.label :fb_link_label, "Facebook Link Label" %>
			<%= f.text_field :fb_link_label %>

		    <%= f.label :fb_caption, "Facebook Caption" %>
			<%= f.text_field :fb_caption %>

		    <%= f.label :fb_redirect_url, "Facebook Redirect URL" %>
			<%= f.text_field :fb_redirect_url, readonly: true %>

		    <%= f.label :fb_thumb_url, "Facebook Thumbnail Image URL" %>
			<%= f.text_field :fb_thumb_url %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :twitter_msg, "Twitter Message" %></div>
					<div class="span4">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">stuff here  </p>
			</div>
			<%= f.text_area :twitter_msg, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :twitter_msg_template, "Twitter Message Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this Twitter Message template and when you save your changes to this promotion the Twitter Message above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :twitter_msg_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :pinterest_msg, "Pinterest Message" %></div>
					<div class="span4">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">stuff here  </p>
			</div>
			<%= f.text_area :pinterest_msg, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :pinterest_msg_template, "Pinterest Message Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this Pinterest message template and when you save your changes to this promotion the Pinterest Message above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :pinterest_msg_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :linkedin_msg, "LinkedIn Message" %></div>
					<div class="span4">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">stuff here.  </p>
			</div>
			<%= f.text_area :linkedin_msg, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :linkedin_msg_template, "LinkedIn Message Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this LinkedIn message template and when you save your changes to this promotion the LinkedIn Message above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :linkedin_msg_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :googleplus_msg, "GooglePlus Message" %></div>
					<div class="span4">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">stuff here  </p>
			</div>
			<%= f.text_area :googleplus_msg, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :googleplus_msg_template, "GooglePlus Message Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this GooglePlus message template and when you save your changes to this promotion the GooglePlus Message above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :googleplus_msg_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :email_subject, "Email Subject" %></div>
					<div class="span4">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">stuff here  </p>
			</div>
			<%= f.text_area :email_subject, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :email_subject_template, "Email Subject Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this Email subject template and when you save your changes to this promotion the Email Subject above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :email_subject_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :email_body, "Email Body" %></div>
					<div class="span4">
						<a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">stuff here  </p>
			</div>
			<%= f.text_area :email_body, readonly: true, rows: 2, placeholder: "this will be filled automatically based on your promotion configuration" %>

			<div class="collapse-group">
				<div class="row">
					<div class="span3"><%= f.label :email_body_template, "Email Body Template" %></div>
					<div class="span4"><a class="btn-small" href="#">more &raquo;</a>
					</div>
				</div>
				<p class="collapse">You can edit this Email Body template and when you save your changes to this promotion the Email Body above will automatically reflect your changes.  If you delete the contents of this box and click save changes, the default template will automatically be reloaded.  You can insert the following tokens and they will be automatically replaced by actual values:<br/>
				&nbsp;&nbsp;&nbsp;{{merchant}} => merchant's name<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_pct}} => merchant's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{merchant_cause}} => merchant's preferred cause<br/>
				&nbsp;&nbsp;&nbsp;{{supporter_pct}} => supporter's contribution percent<br/>
				&nbsp;&nbsp;&nbsp;{{buyer_pct}} => buyer's contribution percent
				</p>
			</div>
			<%= f.text_area :email_body_template, readonly: @served, rows: 2, placeholder: "this will be refilled with the correct default template when you click save changes" %>

			<%= f.label :disabled, "Disabled?" %>
			<%= f.check_box :disabled %>
			<br/><br/>

			<%= f.submit button, class: "btn btn-large btn-primary" %>
		<% end %>
		</div>
	</div>
	<%= go_back %>
</div>

<% content_for :js do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select#events').select2({
				placeholder: 'Click here to select a group of causes'
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(document).on('change', 'select#events', function() {
	            $("#promotion_cause_type_event").attr('checked', true);
	            $("#promotion_cause_type_single").attr('checked', false);
	        });
			$(document).on('change', '#promotion_fg_uuid', function() {
	            $("#promotion_cause_type_single").attr('checked', true);
	            $("#promotion_cause_type_event").attr('checked', false);
	        });
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.row .btn-small').on('click', function(e) {
			    e.preventDefault();
			    var $this = $(this);
			    var $collapse = $this.closest('.collapse-group').find('.collapse');
			    $collapse.collapse('toggle');
			});
		});
	</script>
    <script>
		$(document).ready(function () {					
			$("#promotion_fg_uuid").select2({
				placeholder: 'Click here to find a cause',
				minimumInputLength: 3,
				multiple: false,
				id: 'organization_uuid',
				ajax: {
					url: 'https://graphapi.firstgiving.com/v2/list/organization?jsonpfunc=?',
					dataType: 'jsonp',
					jsonp: 'jsonpfunc',
					quietMillis: 200,
					data: function (term, page) {
						return {
							q: 'organization_name:' + term + '*%20XXYYZZ%20country:US', // search term
							page: page - 1,
							page_size: 25,
							sep: 'XXYYZZ',
						};
					},
					results: function(data, page) {
						var more =  false; 
						if (data.payload[0] && data.payload[0].numFound !== "") {
							more = (page * 25) < data.payload[0].numFound;
						}
						return { 
							results: data.payload, more: more
						};
					}
				},
				initSelection: function(element, callback) {
					// the input tag has a value attribute preloaded that points to a preselected cause's id
					// this function resolves that id attribute to an object that select2 can render
					// using its formatResult renderer - that way the cause name is shown preselected
					var id=$(element).val();
					if (id!=="") {
						$.ajax({
							dataType: 'jsonp',
							contentType: 'application/json',
							jsonp: 'jsonpfunc',
							url: 'https://graphapi.firstgiving.com/v2/object/organization/'+id+'?jsonpfunc=?',
						}).done(function(data) { console.log(data.payload.organization_name); callback(data.payload); });
					}
				},
				dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
				formatResult: causeFormatResult, // omitted for brevity, see the source of this page
				formatSelection: causeFormatSelection,  // omitted for brevity, see the source of this page
                nextSearchTerm: function (selectedObject, currentSearchTerm) {return currentSearchTerm;},
				escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
			});

			function causeFormatResult(cause) {
				var markup = "<div class='cause-result'><div id='" + cause.organization_uuid + "' class='cause-title'>" + cause.organization_name + "</div>";
				var state = false;

				if (cause.region) {
					state = cause.region;
				} else if (cause.county) {
					state = cause.county;
				} 
				if (cause.city && state) {
					markup += "<div class='cause-location'>" + cause.city + ", " + state + "</div>";
				}
				if (cause.category_title) {
					markup += "<div class='cause-category'>" + cause.category_title + "</div>";
				}
				markup += "</div>"
				return markup;
			}  
		
			function causeFormatSelection(cause) {
				var markup = "<div id='" + cause.organization_uuid + "' >" + cause.organization_name + "</div>";
				return markup;
			} 

			
		});
	</script>
<% end %>

<% javascript 'select2.min.js' %>
<% javascript 'select2_locale_en.js' %>