<div class="row">
	<div class="span6 offset3">
		<%= form_for(@promotion) do |f| %>

		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :merchant_id, "Merchant Name" %>
		<%= select_tag 'promotion[merchant_id]', options_from_collection_for_select(Merchant.all, :id, :name) %>

		<%= f.label :name, "Promotion Name" %>
		<%= f.text_field :name %>

		<%= f.label :start_date, "Start Date" %>
		<%= f.date_select :start_date %>

		<%= f.label :end_date, "End Date" %>
		<%= f.date_select :end_date %>

		<%= f.label :content %>
		<%= f.text_field :content %>

		<%= f.submit button, class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>