<li>
	<% @a= @b= @c= @d= @e= @f= @k= "" %>
	<% if promotion.merchant_pct? %>
		<% @a = promotion.merchant_pct %>
	<% end %>
	<% if promotion.cause_id? %>
		<% @b = promotion.cause.name %>
	<% end %>
	<% if promotion.supporter_pct? %>
		<% @c = promotion.supporter_pct %>
	<% end %>
	<% if promotion.buyer_pct? %>
		<% @d = promotion.buyer_pct %>
	<% end %>
	<% if promotion.priority? %>
		<% @e = promotion.priority %>
	<% end %>
	<% if !promotion.end_date.nil? %>
		<% @f = promotion.end_date %>
	<% end %>
	<% if promotion.serves.where("viewed = ?", true).none? %>
		<% @g = 0 %>
		<% else %>
		<% @g = promotion.serves.where("viewed = ?", true).count %>
	<% end %>
	<% if promotion.disabled? %>
		<% @h = "Yes" %>
		<% else %>
		<% @h = "no" %>
	<% end %>
	<% @i = 0 %>
	<% promotion.serves.each{|s| @i += s.shares.size} %>
	<% if promotion.disable_msg_editing? %>
		<% @j = "Yes" %>
		<% else %>
		<% @j = "no" %>
	<% end %>
	<% if promotion.widget_location_id? %>
		<% @k = promotion.widget_location.name %>
	<% end %>
  	<% if params[:action] == "index_admin" %>
		<% @editpath = edit_promotion_admin_path(promotion) %>
		<% @deletepath = destroy_promotion_admin_path(promotion) %>
		<% @duplicatepath = duplicate_promotion_admin_path(promotion) %>
  	<% elsif params[:action] == "duplicate_admin" %>
		<% @editpath = edit_promotion_admin_path(promotion) %>
		<% @deletepath = destroy_promotion_admin_path(promotion) %>
		<% @duplicatepath = duplicate_promotion_admin_path(promotion) %>
	<% else %>
		<% @editpath = edit_promotion_path(promotion) %>
		<% @deletepath = promotion %>
		<% @duplicatepath = duplicate_promotion_path(promotion) %>
	<% end %>
	<b>Promotion Name: </b><%= link_to promotion.name, @editpath %>&nbsp;&nbsp;
	<b>Merchant Name: </b><%= link_to promotion.merchant.name, @editpath %><br/>
	<b>Promotion Banner Template: </b><%= promotion.banner_template %><br/>
	<b>Promotion Banner: </b><%= promotion.banner %><br/>
	<b>ID#: </b><%= link_to promotion.id, @editpath %>&nbsp;&nbsp;
	<b>UID: </b><%= link_to promotion.uid, @editpath %><br/>
	<b>Description: </b><%= link_to promotion.description, @editpath %><br/>
	<b>Button Style: </b><%= link_to promotion.button.name, @editpath %><br/>
	<b>Widget Location: </b><%= link_to @k, @editpath %><br/>
	<b>Merchant Pct: </b><%= link_to @a, @editpath %>&nbsp;&nbsp;
	<b>Supporter Pct: </b><%= link_to @c, @editpath %>&nbsp;&nbsp;
	<b>Buyer Pct: </b><%= link_to @d, @editpath %><br/>
	<b>Preferred Cause: </b><%= link_to @b, @editpath %><br/>
	<b>Channels</b><% for channel in promotion.channels %>
		<b>:&nbsp;</b><%= link_to channel.name, @editpath %>&nbsp;
	<% end %><br/>
	<b>User Message Editing Disabled?: </b><%= link_to @j, @editpath %><br/>
	<b>Facebook Message Template </b><%= link_to promotion.facebook_msg_template, @editpath %><br/>
	<b>Facebook Message </b><%= link_to promotion.facebook_msg, @editpath %><br/>
	<b>Facebook Link Label </b><%= link_to promotion.fb_link_label, @editpath %>&nbsp;&nbsp;
	<b>Facebook Caption </b><%= link_to promotion.fb_caption, @editpath %><br/>
	<b>Facebook Redirect URL </b><%= link_to promotion.fb_redirect_url, @editpath %><br/>
	<b>Facebook Thumbnail URL </b><%= link_to promotion.fb_thumb_url, @editpath %><br/>
	<b>Pinterest Message Template </b><%= link_to promotion.pinterest_msg_template, @editpath %><br/>
	<b>Pinterest Message </b><%= link_to promotion.pinterest_msg, @editpath %><br/>
	<b>Pinterest Default Board </b><%= link_to promotion.pin_def_board, @editpath %><br/>
	<b>Pinterest Image URL </b><%= link_to promotion.pin_image_url, @editpath %><br/>
	<b>Pinterest Thumbnail URL </b><%= link_to promotion.pin_thumb_url, @editpath %><br/>
	<b>Twitter Message Template </b><%= link_to promotion.twitter_msg_template, @editpath %><br/>
	<b>Twitter Message </b><%= link_to promotion.twitter_msg, @editpath %><br/>
	<b>Linkedin Message Template </b><%= link_to promotion.linkedin_msg_template, @editpath %><br/>
	<b>LinkedIn Message </b><%= link_to promotion.linkedin_msg, @editpath %><br/>
	<b>GooglePlus Message Template </b><%= link_to promotion.googleplus_msg_template, @editpath %><br/>
	<b>GooglePlus Message </b><%= link_to promotion.googleplus_msg, @editpath %><br/>
	<b>Email Subject Template </b><%= link_to promotion.email_subject_template, @editpath %><br/>
	<b>Email Subject </b><%= link_to promotion.email_subject, @editpath %><br/>
	<b>Email Body Template </b><%= link_to promotion.email_body_template, @editpath %><br/>
	<b>Email Body </b><%= link_to promotion.email_body, @editpath %><br/>
	<b>Start Date: </b><%= link_to promotion.start_date, @editpath %>&nbsp;&nbsp;
	<b>End Date: </b><%= link_to @f, @editpath %>&nbsp;&nbsp;
	<b>Priority: </b><%= link_to @e, @editpath %>&nbsp;&nbsp;
	<b>Disabled: </b><%= link_to @h, @editpath %><br/>
	<% @current = Current.get_current_promotion(Date.today,promotion.merchant) %>
    <% @current_promotion = @current[:promotion] %>
    <% if @current[:promotion].nil? %>
    	<%= @current[:message] %>
	<% elsif @current_promotion.id == promotion.id %>
		<b>This is the current promotion for this merchant</b><br/>
	<% else %>
		This is not the current promotion for this merchant.  See promotion #<%= @current_promotion.id %><br/>
	<% end %>	
	<div class="row">
		<div class="span2">
				<b>Times Viewed?   :&nbsp;&nbsp;</b><%= @g %>
				<br/>
				<b>Times Shared?   :&nbsp;&nbsp;</b><%= @i %>
		</div>
		<div class="span7">
			<% if promotion.serves.where("viewed = ?", true).any? %>
				This promotion has already been viewed by guests on your website - only the start date, end date, priority, and disabled status can be edited now.  To make any additional changes, you must first create a copy of this promotion by clicking the 'duplicate' link below.  Then you can change anything on the duplicated promotion.
			<% end %>
		</div>
	</div>
	<b>Actions: </b>
	  	<%= link_to "edit", @editpath %>&nbsp;&nbsp;
	  	<%= link_to "duplicate", @duplicatepath %>&nbsp;&nbsp;
	  		<% if @g == 0 %>
				<%= link_to "delete", @deletepath, method: :delete,
                                  data: { confirm: "You sure?" } %>
            <% end %>

</li>