<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menus">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('cb-white-ltblue-15x123.svg', title: 'Home', id: 'header-logo'), home_path %>
      <div>
        <div id="nav-menus" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <% if 1!=1 %>
              <li><%= link_to "Home",    home_path %></li>
              <li><%= link_to "Help",    help_path %></li>
              <li><%= link_to "About Us", about_path %></li>
              <% if !signed_in? %>
                <li><%= link_to "Sign Up", new_user_registration_path  %></li>
              <% end %>  
            <% end %>
            <% if !signed_in? %>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% else %>
                <li id="user-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    My Account<!-- <b class="caret"></b>-->
                  </a>
                  <ul class="dropdown-menu">
                    <% if (can?(:show, Merchant)) %>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">My Merchants</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to_if(can?(:create, Merchant), "Create A Merchant", new_merchant_path) {} %></li>
                          <% if !current_user.merchants.any? %>
                              <li class="disabled">
                            <% else %>
                              <li>
                            <% end %> 
                          <%= link_to_if(can?(:index, Merchant), "View Merchants (#{current_user.merchants.size})", merchants_path) {} %></li>
                        </ul>
                      </li>
                    <% end %>
                    <% if (can?(:show, Promotion)) %>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">My Promotions</a>
                        <ul class="dropdown-menu">
                          <% if !current_user.merchants.any? %>
                              <li class="disabled">
                            <% else %>
                              <li>
                          <% end %> 
                          <%= link_to_if(can?(:create, Promotion), "Create A Promotion", new_promotion_path) {} %></li>
                          <% if !Promotion.exists?(merchant_id: current_user.merchants) %>
                              <li class="disabled">
                            <% else %>
                              <li>
                          <% end %>
                          <%= link_to_if(can?(:index, Promotion), "View Promotions (#{Promotion.where(merchant_id: current_user.merchants).count})", promotions_path) {} %></li>
                        </ul>
                      </li>
                    <% end %>
                    <% if (can?(:show, Single)) %>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">My Causes</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to_if(can?(:create, Single), "Create A Cause", new_single_path) {} %></li>
                          <% if !current_user.singles.any? %>
                              <li class="disabled">
                            <% else %>
                              <li>
                          <% end %> 
                          <%= link_to_if(can?(:index, Single), "View Causes (#{current_user.singles.count})", singles_path) {} %></li>
                        </ul>
                      </li>
                    <% end %>
                    <li><%= link_to_if(can?(:index, Donation), "Donations I've Caused", donations_path) {} %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
            <% end %>
            <% if can? :view_admin_menu, User %>
              <li id="admin-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin <!--<b class="caret"></b>-->
                </a>
                <ul class="dropdown-menu">
                  <% if (can?(:show_admin, Merchant)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Merchants</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create_admin, Merchant), "Create Merchant", new_merchant_admin_path) {} %></li>
                        <li><%= link_to_if(can?(:index_admin, Merchant), "View Merchants (#{Merchant.count})", merchants_admin_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show_admin, Promotion)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Promotions</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create_admin, Promotion), "Create Promotion", new_promotion_admin_path) {} %></li>
                        <li><%= link_to_if(can?(:index_admin, Promotion), "View Promotions (#{Promotion.count})", promotions_admin_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show_admin, Cause)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">All Causes (incl Groups)</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create_admin, Cause), "Create Cause", new_cause_admin_path) {} %></li>
                        <li><%= link_to_if(can?(:index_admin, Cause), "View Causes (#{Cause.count})", causes_admin_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show_admin, Single)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Single Causes</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create_admin, Single), "Create Single Cause", new_single_admin_path) {} %></li>
                        <li><%= link_to_if(can?(:index_admin, Single), "View Single Causes (#{Single.count})", singles_admin_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Channel)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Channels</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Channel), "Create Channel", new_channel_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Channel), "View Channels (#{Channel.count})", channels_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, ButtonType)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">ButtonTypes</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, ButtonType), "Create ButtonType", new_button_type_path) {} %></li>
                        <li><%= link_to_if(can?(:index, ButtonType), "View ButtonTypes (#{ButtonType.count})", button_types_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Button)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Buttons</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Button), "Create Button", new_button_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Button), "View Buttons (#{Button.count})", buttons_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Setting)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Settings</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:edit, Setting), "Edit Settings", edit_setting_path(Setting.first)) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Serve)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Serves</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Serve), "Create Serve", new_serve_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Serve), "View Serves (#{Serve.count})", serves_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Share)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Shares</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Share), "Create Share", new_share_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Share), "View Shares (#{Share.count})", shares_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Sale)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Sales</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Sale), "Create Sale", new_sale_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Sale), "View Sales (#{Sale.count})", sales_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show_admin, Donation)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Donations</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:index_admin, Donation), "View Donations (#{Donation.count})", donations_admin_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Role)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Roles</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Role), "Create Role", new_sale_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Role), "View Roles (#{Role.count})", sales_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, User)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Users and Roles</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:index, User), "View Users and Roles", users_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Group)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Groups</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Group), "Create Group", new_group_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Group), "View Groups (#{Group.count})", groups_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if (can?(:show, Event)) %>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Events</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to_if(can?(:create, Event), "Create Event", new_event_path) {} %></li>
                        <li><%= link_to_if(can?(:index, Event), "View Events (#{Event.count})", events_path) {} %></li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
