<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Fancy Logo Goes Here", root_path, id: "logo" %>
      <nav>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Help",    help_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path  %></li>
            <li><%= link_to "About Us", about_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Merchants</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Create Merchant", new_merchant_path %></li>
                    <li><%= link_to "View Merchants", merchants_path %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Promotions</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Create Promotion", new_promotion_path %></li>
                    <li><%= link_to "View Promotions", promotions_path %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Causes</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Create Cause", new_cause_path %></li>
                    <li><%= link_to "View Causes", causes_path %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Channels</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Create Channel", new_channel_path %></li>
                    <li><%= link_to "View Channels", channels_path %></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", '#' %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
