<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Fancy Logo Goes Here", root_path, id: "logo" %>
      <nav>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Help",    help_path %></li>
            <li><%= link_to "About Us", about_path %></li>
            <% if !signed_in? %>
              <li><%= link_to "Sign Up", new_user_registration_path  %></li>
            <% end %>  
            <% if !signed_in? %>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% else %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    My Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if (can?(:show, Merchant)) %>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">My Merchants</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to_if(can?(:create, Merchant), "Create A Merchant", new_merchant_path) {} %></li>
                          <% if !current_user.merchants.any? %>
                              <li class="disabled">
                            <% else %>
                              <li>
                            <% end %> 
                          <%= link_to_if(can?(:index, Merchant), "View Merchants (#{current_user.merchants.size})", merchants_path) {} %></li>
                        </ul>
                      </li>
                    <% end %>
                    <% if (can?(:show, Promotion)) %>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">My Promotions</a>
                        <ul class="dropdown-menu">
                          <% if !current_user.merchants.any? %>
                              <li class="disabled">
                            <% else %>
                              <li>
                          <% end %> 
                          <%= link_to_if(can?(:create, Promotion), "Create A Promotion", new_promotion_path) {} %></li>
                          <% if !Promotion.exists?(merchant_id: current_user.merchants) %>
                              <li class="disabled">
                            <% else %>
                              <li>
                          <% end %>
                          <%= link_to_if(can?(:index, Promotion), "View Promotions (#{Promotion.where(merchant_id: current_user.merchants).count})", promotions_path) {} %></li>
                        </ul>
                      </li>
                    <% end %>
                    <% if (can?(:show, Cause)) %>
                      <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">My Causes</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to_if(can?(:create, Cause), "Create A Cause", new_cause_path) {} %></li>
                          <% if !current_user.causes.any? %>
                              <li class="disabled">
                            <% else %>
                              <li>
                          <% end %> 
                          <%= link_to_if(can?(:index, Cause), "View Causes (#{current_user.causes.count})", causes_path) {} %></li>
                        </ul>
                      </li>
                    <% end %>
                    <li><%= link_to "See the Good I've Done", "#" %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
            <% end %>
            <% if can? :master, :all %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Merchants</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Merchant", new_merchant_admin_path %></li>
                      <li><%= link_to "View Merchants (#{Merchant.count})", merchants_admin_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Promotions</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Promotion", new_promotion_admin_path %></li>
                      <li><%= link_to "View Promotions (#{Promotion.count})", promotions_admin_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Causes</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Cause", new_cause_admin_path %></li>
                      <li><%= link_to "View Causes (#{Cause.count})", causes_admin_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Channels</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Channel", new_channel_path %></li>
                      <li><%= link_to "View Channels (#{Channel.count})", channels_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Settings</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Edit Settings", edit_setting_path(Setting.first) %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Serves</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Serve", new_serve_path %></li>
                      <li><%= link_to "View Serves (#{Serve.count})", serves_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Shares</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Share", new_share_path %></li>
                      <li><%= link_to "View Shares (#{Share.count})", shares_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Sales</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Sale", new_sale_path %></li>
                      <li><%= link_to "View Sales (#{Sale.count})", sales_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Donations</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "View Donations (#{Donation.count})", donations_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Roles</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Create Role", new_role_path %></li>
                      <li><%= link_to "View Roles (#{Role.count})", roles_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Users and Roles</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "View Users and Roles", users_path %></li>
                    </ul>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
